html {
    margin: 0px;
    padding:0 ;
}

body {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: "Verdana", sans-serif;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 50px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    background: #d4e0dd;
    color: #181a1b;
}

/*****************************************************************************/

a {
    color: #181a1b;
    text-decoration: none;
    background: #50545345;
}
a:hover {
    color: rgb(249, 241, 244);
    background: #3190e8e0;
}

a.imglink {
    background: none;
}
a.imglink:hover {
    background: none;
}

.nohighlight {
    background: none;
}
.nohighlight:hover {
    background: none;
}

/*****************************************************************************/

code {
    font-family: Inconsolata, "Courier New", monospace;
}

/*****************************************************************************/
/* Normal tables */
table {
    border-collapse:collapse;
    width:100%;
    text-align:center;
}
td, tr  {
    border: 1px solid grey;
}
th {
    border-bottom: 2px solid black;
}


/*****************************************************************************/
/* Main page title */
h1 {
    font: 2.1em Verdana, Sans-Serif;
    color: #202133;
}
div#header a {
    color: rgb(26, 43, 59);
    background: none;
}
div#header a:hover {
    color: rgb(255, 250, 252);
}

/*****************************************************************************/

ul {
    list-style-type: square;
    margin-top: 0;
}

/*****************************************************************************/

img {
    margin-right: 10px;
}

div.caption {
 text-align:center;
}

/*****************************************************************************/
/* Secondary header */
h2 {
    font: 1.5em Verdana, Sans-Serif;
    margin-top: 1em;
    color: #1a2b3bff;
}
div.backlink {
    font: 1.1em Verdana, Sans-Serif;
    margin-left: 2em;
}
/* Page and header backgrounds */
div#content{
    background: #d3dae4ed;
    padding: 1px 130px 30px 20px;
    width: 600px;
}

div#header{
    background: #c2c0c1a9;
    padding: 20px 20px 1px 20px;
}

ul#navlist{
    text-indent: -20px;
}

/*****************************************************************************/
/* Footer styles */

div#feed {
    float: left;
    padding-left: 20px;
}


/*****************************************************************************/
/* Table of contents */
div#TOC {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block
}
div#TOC h2 {
    margin-top: 0;
}
div#TOC a  {
    padding-left: 10px;
}

/*****************************************************************************/
/* Top navigation bar */
ul#navlist {
    padding-left: 20px;
    padding-bottom: 0;
}
ul#navlist li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}
ul#navlist li#active {
    font-weight: bold;
}

/* RSS feed icon in top menu */
.icon
{
    font-family: "icons";
    font-size: 14px;
}

/*****************************************************************************/
/*  Nice simple horizontal rule */
hr {
    height: 1px;
    border: none;
}

/*  Headshot on the "About" page */
#headshot {
    float: right;
    margin-top:20px;
    margin-right:-110px;
}

/*****************************************************************************/
/*  Modifications for small screens */
@media only screen and (max-width: 750px) {
    body {
        width: auto;
    }
    div#content {
        width: auto;
        padding: 1px 10px 30px 20px;
    }
    p > img {
        max-width: 100%;
        height: auto;
    }
    a:not(.imglink) > img {
        max-width: 100%;
        height: auto;
    }
    #headshot {
        display: none;
    }

    div#copyright{
        margin-right: 10px;
    }
}
